@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: ;
  --color-primary-dark: #eee;
}

@custom-variant dark{
  html.dark & {
    --color-primary: var(--color-primary-dark);
    --background: red;
    --foreground: #ededed;  
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.login-icon-container {
  @apply mt-4 flex w-full justify-around items-center;

  .other-login-method-icon {
    @apply border-1 border-[#5cd799] p-2 rounded-[5px] cursor-pointer hover:bg-gray-100;
}
}

